body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 100ms ease;
  cursor: pointer;
}

.title:hover{
  transform: scale(1.1);
}

.chatroom {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  min-height: 50vh;
}

.my-msg {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.your-msg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.time {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 11px;
  padding: 5px;
}

.input {
  display: flex;
  justify-content: space-between;
  min-width: 60vw;
}

.inputbox {
  min-width: 27vh;
  opacity: 50%;
  transition: transform 100ms ease;
}

.inputbox:hover{
  transform: scale(1.05);
}

.btn {
  opacity: 50%;
  cursor: pointer;
  transition: transform 100ms ease;
}

.btn:hover{
  transform: scale(1.1);
}